<div id="home">
  <navbar></navbar>

  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <dashboard-summary></dashboard-summary>
      <v-select v-model="model.selectedCategories" multiple :options="categorynames" :on-change="consoleCallback"></v-select>
      <div class="page-content">
        <view-header>
          <span>
            Redemption by state
          </span>
          <download pdf-enabled="true" png-enabled="true"></download>
        </view-header>



        <div class="row" style="margin-left: 0; margin-right: 0">
          <div class="col-md-6">
            <geo :title="model.currentManufacturer" geo-id="singleCoGeo" graph-width="460" graph-height="210"></geo>
          </div>
          <div class="col-md-6">
            <geo title="Comparables" geo-id="allGeo" graph-width="460" graph-height="210"></geo>
          </div>
        </div>
      </div>

      <div class="page-content" v-if="categories">
        <div class="row" style="margin-left: 0; margin-right: 0">
          <div class="col-md-12">
            <dynamic-table :categories="categories"></dynamic-table>
          </div>
        </div>
      </div>

      <page-footer></page-footer>
    </div>
  </div>
</div>
