<div id='home'>
  <navbar></navbar>
  <div class='main-content'>
    <sidebar></sidebar>
    <div class='main'>
      <loader v-show="isLoading"></loader>
      <dashboard-summary></dashboard-summary>
      <div class='page-content gradient-background'>
        <view-header>
          <span>
            Face Value Range: General Mills, Inc. vs. Comparables
          </span>
          <download pdf-enabled="true" csv-enabled="true" png-enabled="true"></download>
        </view-header>

        <div class='col-md-6'>
          <stacked-bar group-by-field='facevalue' label-field='Face Value Ranges'></stacked-bar>
        </div>
        <div class='col-md-6'>
          <pie group-by-field='medianame' label-field='Media Type'></pie>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>

</div>
