<div id="home">
  <navbar></navbar>
  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <div class="page-content">
        <view-header><i class="fa fa-question-circle"></i> Help</view-header>
        <div class="row content" style="margin-left: 0; margin-right: 0;">
          <div class="col-md-6 content__holder">
            <div v-for="item in model.helpItems" class="content__block">
              <h2 class="content__heading">{{item.title}}</h2>
              <p>{{item.msg}}</p>
            </div>
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>
</div>