<div id="home">
  <navbar></navbar>

  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <loader v-show="isLoading"></loader>
      <dashboard-summary></dashboard-summary>
      <div class="page-content">
        <view-header>
          <span>
            <i class="fa fa-pie-chart"></i>Media: General Mills, Inc vs. Category
          </span>
          <download pdf-enabled="true" csv-enabled="true" png-enabled="true"></download>
        </view-header>

        <div class="col-md-5">
          <bar></bar>
        </div>
        <div class="col-md-7">
          <pie group-by-field="categoryname" label-field="Category Type"></pie>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>

</div>
