<div id="home">
  <navbar></navbar>

  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <dashboard-summary></dashboard-summary>
      <div class="page-content" v-if="dataflag">
        <h1 class="page-header">Pie Charts</h1>
        <div class="col-md-4">
          <bar></bar>
        </div>
        <div class="col-md-8">
          <pie></pie>
        </div>
      </div>
      <div class="page-content" v-else>
        <h1 class="page-header">Pie Charts</h1>
        <div class="col-md-12">
          <span> No Data </span>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>

</div>
