<div id="home">
  <navbar></navbar>
  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <dashboard-summary></dashboard-summary>
      <div class="page-content gradient-background">
        <view-header>
          <span>
            <i class="fa fa-cubes"></i>Product Moved
          </span>
          <download pdf-enabled="true" csv-enabled="true" png-enabled="true"></download>
        </view-header>
        <div class="col-md-6">
          <p>Stacked bar chart here.</p>
        </div>
        <div class="col-md-6">
          <p>Pie chart here.</p>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>

</div>
