<div id="home">
  <navbar></navbar>
  <div class="main-content">
    <sidebar></sidebar>
    <div class="main">
      <div class="page-content">
        <view-header><i class="fa fa-gear"></i> Settings</view-header>
        <div class="row settings" style="margin-left: 0; margin-right: 0;">
          <div class="col-md-12">
            <h2 class="content__heading settings__title">Switch Content: {{model.currentManufacturer}}</h2>
          </div>
          <div class="col-md-3">
            <ul class="settings__list">
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="settings__list">
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="settings__list">
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="settings__list">
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
              <li><i class="fa fa-arrow-right"></i>Company</li>
            </ul>
          </div>
        </div>
      </div>
      <page-footer></page-footer>
    </div>
  </div>
</div>