<div class="dynamic-table">
  <div class="content-header row">
    <span class="title no-padding">
      Redemption Percentage by Media Type
    </span>

    <div class="col-lg-6">
      <select>
        <option value selected>Media Type</option>
      </select>
      <button type="button" class="filter btn btn-default" aria-label="Right Align" @click="isShow = true">
        <i class="fa fa-sliders" aria-hidden="true"></i>
        Categories
      </button>
      <filter-modal :show="isShow" :onClose="hideModal" :data="categories" :onSave="saveModal"></filter-modal>
    </div>

    <span class="download col-lg-1 no-padding right">
      <i class="fa fa-download fa-pull-right" aria-hidden="true"></i>
    </span>
  </div>

  <div class="table-content" v-if="Object.keys(tableData).length > 0">
    <table-content :datas="tableData"></table-content>
  </div>
  <div class="table-content" v-else="">
    <p>No Filter</p>
  </div>
</div>
