<div class="filter-category-modal" v-on:click="onClose" v-show="show" transition="modal">
  <div class="modal-wrapper">
    <div class="modal-container row" v-on:click.stop>
      <div class="modal-header">
        <slot name="header">
          <p class="col-lg-12">
            <span class="header-icon">
              <i class="fa fa-sliders" aria-hidden="true"></i>
            </span>
            Filter Category
            <span class="close-icon" @click="onClose">
              <i class="fa fa-close"></i>
            </span>
          </p>
        </slot>
      </div>

      <div class="modal-body">
        <slot name="body">
          <div class="row">
            <div class="col-lg-6" v-for="(category, i) in categories">
              <input type="checkbox" v-model="comparisonvalue" :id="i" :value="category.categoryname" />
              <label :for="i">{{category.categoryname}}</label>
            </div>
          </div>
        </slot>
      </div>

      <div class="modal-footer">
        <slot name="footer">
          <div class="col-lg-6">
            <button class="btn btn-default col-lg-12" @click="cancel()">CANCEL</button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-primary col-lg-12" @click="ok()">UPDATE</button>
          </div>
        </slot>
      </div>
    </div>
  </div>
</div>
