<div>
  <p>General Mills vs Comparables</p>
  <table class="col-lg-12 table-responsive">
    <template v-for="data in datas">
      <tr class="t-head">
        <td>{{data.category}}</td>
        <td class="empty"></td>
        <td v-for="node in media">
          <i class="fa fa-2x" v-bind:class="getIcon(node)" aria-hidden="true"></i>
        </td>
        <td class="empty"></td>
        <td v-for="node in media">
          <i class="fa fa-2x" v-bind:class="getIcon(node)" aria-hidden="true"></i>
        </td>
      </tr>
      <tr><td colspan="13" class="emptyRow"></td></tr>
      <tr class="t-body">
        <td class="text-left categoryName">{{currentManufacturer}}</td>
        <td class="empty"></td>
        <template v-for="(node, i) in media" v-if="data.manufacturer">
          <td v-if="data.manufacturer[node]" v-bind:class="{border_left: i==0, border_right: i==4}">{{data.manufacturer[node]}}</td>
          <td v-bind:class="{border_left: i==0, border_right: i==4}" v-else>-</td>
        </template>
        <template v-if="data.manufacturer == null">
          <td class="border_left border_right" :colspan="media.length">No Data</td>
        </template>
        <td class="empty"></td>
        <template v-for="(node, i) in media" v-if="data.manufacturer">
          <td v-if="data.manufacturer[node]" v-bind:class="{border_left: i==0, border_right: i==4}">{{data.manufacturer[node]}}</td>
          <td v-bind:class="{border_left: i==0, border_right: i==4}" v-else>-</td>
        </template>
        <template v-if="data.manufacturer == null">
          <td class="border_left border_right" :colspan="media.length">No Data</td>
        </template>
      </tr>
      <tr class="even">
        <td class="text-left categoryName">{{compareManufacturer}}</td>
        <td class="empty"></td>
        <td v-for="(node, i) in media" v-bind:class="{border_left: i==0, border_right: i==4}">{{data.comparables[node]}}</td>
        <td class="empty"></td>
        <td v-for="(node, i) in media" v-bind:class="{border_left: i==0, border_right: i==4}">{{data.comparables[node]}}</td>
      </tr>
      <tr><td  colspan="13" class="emptyRow"></td></tr>
    </template>
  </table>

</div>
