// Base structure

// Move down content because we have a fixed navbar that is 50px tall
body {
  padding-top: 50px;
  color: #95a3a6;
  font-family: 'Futura W01 Book';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: .05em;
}

#app {
  display: flex;
  flex: 1;
}

// Global add-ons

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.nch-brand {
  color: #86243e !important;
}
