.summary {
    background-color: #69797d;
    padding: 10px;
    box-shadow: inset 1px 4px 15px -6px rgba(0,0,0,1);
}

.summary__title {
    font-family: 'Futura W02 Medium';
    text-transform: uppercase;
    font-size: 1em;

    .fa {
        padding-right: .5em;
        font-size: 1.2em;
    }
}

.summary__value {
    color: #e1e3e5;
    font-family: 'Futura W02 Medium';
    font-size: 1.3em;

    .fa {
        text-shadow: 2px 2px 5px #525e62;
    }

    .fa-arrow-up {
        color: #80bc34;
    }

    .fa-arrow-down {
        color: #f62602;
    }
}
