#home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Main content
.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.page-footer {
  text-align: center;
  background-color: #333;
  padding: 1.2em 0 1em;
  font-size: .85em;
  color: #666;
  font-family: 'proxima_novaregular';
  text-transform: uppercase;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 260px;
  }
}

.main .page-header {
  margin: 0 40px;
  padding: 20px 0;
  font-size: 1.6em;
  border-bottom: 1px dashed #95a3a6;
}

.page-content {
  padding-bottom: 40px;
  flex-grow: 1;
}

// Placeholder dashboard ideas

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

