<div class="summary" id="dashboard_summary">
  <div class="summary__block">
    <p class="summary__title">Time Period</p>
    <select class="summary__select" id="year-over-year">
      <option value="">Year Over Year</option>
    </select>
  </div>
  <div class="summary__block">
    <p class="summary__title">Segment: Food</p>
    <label class="switch">
      <input type="checkbox" class="switch__input">
      <span class="switch__label" data-on="Food" data-off="Other"></span>
    </label>
  </div>
  <div class="summary__block">
    <p class="summary__title">Sector</p>
    <select class="summary__select" id="sector">
      <option value="beverages">Beverages</option>
    </select>
  </div>
  <div class="summary__block" v-if="currentView != 'ClassOfTrade'">
    <p class="summary__title">Category</p>
    <select class="summary__select" id="category">
      <option v-for="cat in model.categories" :value="cat">{{cat.categoryname}}</option>
    </select>
  </div>
  <div class="summary__block" v-if="currentView == 'ClassOfTrade'">
    <p class="summary__title">Class of Trade</p>
    <select class="summary__select" id="classOfTrade">
      <option v-for="classOfTrade in model.classOfTradeValues" :value="classOfTrade">{{classOfTrade.classoftrade}}</option>
    </select>
  </div>
  <div class="summary__block">
    <button class="summary__button"><i class="fa fa-sliders" aria-hidden="true"></i> Filters</button>
  </div>
</div>
