<div class="summary row" id="dashboard_summary" style="margin-left: 0; margin-right: 0">
    <div class="summary__block col-md-3">
        <p class="summary__title"><i class="fa fa-calendar"></i> Time Period</p>
        <select name="current_year_quarter" id="current-year-quarter">
            <option value="">Current Year Quarter</option>
        </select>
    </div>
    <div class="summary__block col-md-3">
        <p class="summary__title"><i class="fa fa-line-chart"></i> Redemptions</p>
        <p class="summary__value">12,348 <i class="fa fa-arrow-up"></i></p>
    </div>
    <div class="summary__block col-md-3">
        <p class="summary__title"><i class="fa fa-usd"></i> Redemption Value</p>
        <p class="summary__value">$124,335.50 <i class="fa fa-arrow-down"></i></p>
    </div>
    <div class="summary__block col-md-3">
        <p class="summary__title"><i class="fa fa-question-circle"></i> What Else??</p>
        <p class="summary__value">?????</p>
    </div>
</div>
