<div class="summary" id="dashboard_summary">
  <div class="summary__block">
    <p class="summary__title">Time Period</p>
    <select class="summary__select" id="year-over-year" v-model="timeperiodData">
      <option value="0">Year over Year</option>
      <option value="1">Quarter over Quarter</option>
      <option value="2">Week over Week</option>
    </select>
    <time-period :timeperiod-value = timeperiodData></time-period>
  </div>
  <div class="summary__block">
    <p class="summary__title">Segment: {{segmentName}}</p>
    <label class="switch">
      <input type="checkbox" v-model="segment" value="true" class="switch__input">
      <span class="switch__label"></span>
    </label>
  </div>
  <div class="summary__block">
    <p class="summary__title">Sector</p>
    <select class="summary__select" id="sector">
      <option v-for="sector in model.sectors" :value="sectorcode">{{sector.sectorname}}</option>
    </select>
  </div>
  <div class="summary__block" v-if="currentView == 'ClassOfTrade'">
    <p class="summary__title">Class of Trade</p>
    <select class="summary__select" id="classOfTrade">
      <option v-for="classOfTrade in model.classOfTradeValues" :value="classOfTrade">{{classOfTrade.classoftrade}}</option>
    </select>
  </div>
  <div class="summary__block summary__block-button" v-if="currentView != 'ClassOfTrade'">
    <p class="summary__title">Category</p>
    <button class="summary__button" @click="showCategoriesModal = true"><i class="fa fa-sliders" aria-hidden="true"></i> Category Filter</button>
  </div>
  <filter-modal :show="showCategoriesModal" :on-close="hideModal" :categories="model.categories" :on-save="saveModal"></filter-modal>
</div>
