<div class='timerperiodContent' v-on-clickaway="onAwayClick">

  <span class ="timeperiodButton">
    <i class='fa fa-calendar' aria-hidden='true' v-on:click='showTimePeriodOptions = !showTimePeriodOptions'>
    </i>
  </span>

  <div class='timeperiod-component' v-if='showTimePeriodOptions'>

    <div class='timeperiod-header'>
      TIME PERIOD:
      {{timeperiodData[timeperiodValue]['label']}}
    </div>

    <div class='timeperiod-subheader'>
      Time periods reflect only those that have already closed.
    </div>

    <div class='timeperiod-content'>
      <div v-for="item in timeperiodData[timeperiodValue]['values']" class='timeperiod-button-container-subitem' v-if="timeperiodValue == 0">
          {{ item.year }}
      </div>

      <div v-for="item in timeperiodData[timeperiodValue]['values']" class='timeperiod-button-container-item' v-if="timeperiodValue == 1">
        <span class="timeperiod-item"> 
          {{ item.year }}
        </span>
        <div v-for="subitem in item.quarters" class='timeperiod-button-container-subitem' v-bind:style="{ width: '55px', visibility: ((subitem == '0')?('hidden'):('visible'))}">
          Q{{ subitem }}
        </div>
      </div>

      <div v-for="item in timeperiodData[timeperiodValue]['values']" class='timeperiod-button-container-item' v-if="timeperiodValue == 2">
        <span class="timeperiod-item"> 
          {{ item.month.substring(0, 3) }}
        </span>
        <div v-for="subitem in item.weeks" class='timeperiod-button-container-subitem' v-bind:style="{ width: '45px', visibility: ((subitem == '0')?('hidden'):('visible'))}">
          wk{{ subitem }}
        </div>
      </div>
    </div>
    
  </div>
</div>