<div class="view-header">
    <h3 class="view-header__title"><slot></slot></h3>
<!--     <div class="view-header__nav">
        <h4 class="view-header__nav-title">COT (Class of Trade):</h4>
        <ul class="view-header__nav-list">
            <li class="view-header__nav-item view-header__nav-item-active">Mass Merchant</li>
            <li class="view-header__nav-item">Drug</li>
            <li class="view-header__nav-item">Military</li>
            <li class="view-header__nav-item">Convenience Store</li>
        </ul>
    </div> -->
</div>